.btn1{
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.hrr{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}